<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="content">
<h1>
	注册页面
</h1>
<p>
	请输入用户名和密码:
</p>
<form action="" method="post" name="login">
		{{ form.hidden_tag() }}
		<p>
			用户名:
			{{ form.name }}<br>
			{% for error in form.errors.name %}
			<span style="color: red;">
				[用户名不能为空，错误:{{ error }}]
			</span>
			{% endfor %}<br>
		</p>
		<p>
			密码:
			{{ form.password }}<br>
			{% for error in form.errors.password %}
			<span style="color: red;">[密码不能为空,错误:{{ error }}]</span>
			{% endfor %}<br>
		</p>
		<p>
			<input class="pure-button" type="submit" value="确认">
		</p>
</form>
</div>

{% endblock %}
